.carticon {
  position: relative;
}
.menu-nav {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  font-size: 28px;

  align-items: center;
  margin-left: 60px;
  margin-right: 60px;

  .dragonFeeders {
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 26px;
    color: #e68310;
    &:hover {
      background-color: #e68310;
      color: white;
      border-radius: 5px;
    }
  }

  .nav-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    &:hover {
      color: white;
      background-color: #e68310;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      padding: 0;
      margin: 0;
    }
  }

  @media screen and (max-width: 860px) {
    margin-left: 30px;
    margin-right: 30px;
  }

  @media screen and (max-width: 560px) {
    // display: none;
  }
}

.nav-hide {
  @media screen and (max-width: 560px) {
    display: none;
  }
}
