.section-container {
  position: relative;
  width: 90vw;
  text-align: center;
  opacity: 0.6;

  // filter: blur(5px);
  overflow-x: hidden;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.bgimage {
  width: 95vw;
  overflow: none;
}

.titleOver {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  color: white;
  font-size: 1rem;
  z-index: 2;
  top: 90px;
  left: 50px;
  margin: 0 auto;
}

.overlay-text {
  z-index: 3;
}
