.menu-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    background-color: blue;
    color: white;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}