.payments-icons {
  padding-left: 10px;
  display: flex;
  justify-content: center;
}

#icon {
  padding-left: 10px;
}

.footer-content {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 360px) {
    margin-top: 70px;
  }
  @media screen and (max-width: 300px) {
    margin-top: 90px;
  }
}
