.contact-container {
  height: 200px;
  width: 100%;
  background-color: white;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}

.paragraphs {
  flex-direction: column;
  align-content: center;
  font-size: x-large;
  font-weight: 400;
  letter-spacing: 1px;
}

p,
p,
i {
  font-size: 20px;
}

.fa-contact-icons {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  align-items: center;
}
