.about {
  height: auto;
  width: 100%;

  border: 2px solid black;
}

.flex-about {
  display: flex;
  background-color: white;
}

.about-paragraph {
  padding-left: 16px;
  padding-right: 16px;
}

.mission-section {
  padding-left: 16px;
  padding-right: 16px;
}

.service-paragraph {
  padding-left: 4px;
  padding-right: 8px;
}

#about-header {
  padding: 2px;
  text-decoration: underline;
}
