* {
  box-sizing: border-box;

}

.App {
  text-align: center;
  color: #666666;
  font-size: 14px;
  font-family: poppins;
  line-height: 1.80857;
  font-weight: large;
  padding-left: 10px;
  padding-right: 10px;

}